body {
    background-color: #FFE9CE;
}
::-webkit-scrollbar {
    display: none;
}
h1 {
    text-align: center;
    color: #FFB5C2;
    font-size: 75px;
    font-family: 'Lobster', sans-serif;
    text-shadow: 10px 3px #4983FF;
  }

a {
    text-decoration: none;
}  

* {
    box-sizing: border-box;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #ffffff;
    font-size: 18px;
    transition: 0.2s;
    font-family: 'Lato', sans-serif;
    border-radius: 7px;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:nth-child(odd) {
    background: #FFB5C2;
    font-family: 'Lato', sans-serif;
border-radius: 7px;
  }
  
  ul li:hover {
    background: #FFE156;
    font-family: 'Lato', sans-serif;
    border-radius: 7px;
  }
  
  ul li.checked {
    color: #3777FF;
    text-decoration: line-through;
    font-family: 'Lato', sans-serif;
    border-radius: 7px;
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    font-family: 'Lato', sans-serif;
    border-radius: 7px;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #3777FF;
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 7px;
  }
  
 .header {
    padding: 30px 40px;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-radius: 7px;
 }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

  }
  
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #4983FF;
    color:#ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
  }
  
  .addBtn:hover {
    background-color: #3777FF;
  }